/**
 * Travlyn API
 * Travlyn is an intelligent travel and city guide that provides interest-based trips in cities and countries. Depending on available time, interests, budget and many other parameters, Travlyn creates personalized routes with additional information about the locations themselves and the sights.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: raphael@muesseler.de
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package org.travlyn.api

import org.travlyn.api.model.Rating
import org.travlyn.api.model.Trip
import org.travlyn.infrastructure.ApiClient
import org.travlyn.infrastructure.MultiValueMap
import org.travlyn.infrastructure.RequestConfig
import org.travlyn.infrastructure.RequestMethod
import org.travlyn.local.Application

class TripApi(
    application: Application
) : ApiClient(application = application) {

    /**
     * Search for trips
     *
     * @param searchQuery Search query for trips
     * @return kotlin.Array<Trip>
     */
    @Suppress("UNCHECKED_CAST")
    suspend fun findTrip(searchQuery: String): Array<Trip> {
        val localVariableQuery: MultiValueMap = mapOf("searchQuery" to listOf("$searchQuery"))
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/trip", query = localVariableQuery
        )
        return request(
            localVariableConfig
        ) ?: emptyArray()
    }

    /**
     * Generate a Trip
     *
     * @param userId The user who generates the trip
     * @return Trip
     */
    @Suppress("UNCHECKED_CAST")
    suspend fun generateTrip(userId: Long): Trip? {
        val localVariableQuery: MultiValueMap = mapOf("userId" to listOf("$userId"))
        val localVariableConfig = RequestConfig(
            RequestMethod.PUT,
            "/trip", query = localVariableQuery
        )
        return request(
            localVariableConfig
        )
    }

    /**
     * Get Trip by ID
     *
     * @param tripId ID of trip to return
     * @return Trip
     */
    @Suppress("UNCHECKED_CAST")
    suspend fun getTripByID(tripId: Long): Trip? {
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/trip/{tripId}".replace("{" + "tripId" + "}", "$tripId")
        )
        return request(
            localVariableConfig
        )
    }

    /**
     * Get all Trips of user
     *
     * @param userId ID of the user whose trips are to be returned
     * @return kotlin.Array<Trip>
     */
    @Suppress("UNCHECKED_CAST")
    suspend fun getTripsByUserId(userId: Long): Array<Trip> {
        val localVariableConfig = RequestConfig(
            RequestMethod.GET,
            "/user/{userId}/trips".replace("{" + "userId" + "}", "$userId")
        )
        return request(
            localVariableConfig
        ) ?: emptyArray()
    }

    /**
     * Rate a trip
     *
     * @param tripId ID of the trip that will be rated
     * @param rating Rating to be created
     * @return void
     */
    suspend fun rateTrip(tripId: Long, rating: Rating) {
        val localVariableQuery: MultiValueMap = mapOf("rating" to listOf("$rating"))
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/trip/{tripId}".replace("{" + "tripId" + "}", "$tripId"), query = localVariableQuery
        )
        request<Any?>(
            localVariableConfig
        )
    }

    /**
     * Update a trip
     *
     * @param trip Updated trip
     * @return void
     */
    suspend fun updateTrip(trip: Trip) {
        val localVariableQuery: MultiValueMap = mapOf("trip" to listOf("$trip"))
        val localVariableConfig = RequestConfig(
            RequestMethod.POST,
            "/trip", query = localVariableQuery
        )
        request<Any?>(
            localVariableConfig
        )
    }

}
